---
---
<section class="py-32 bg-white">
  <div class="max-w-7xl mx-auto px-4">
    <div class="grid md:grid-cols-2 gap-16 items-center">
      <div>
        <h2 class="text-display-md text-primary mb-6">Bridging the Gap Between Care and Community.</h2>
        <p class="text-body-lg text-slate-600 mb-8">Increased and effective community engagement amplifies your organization's brand and advances your organization's mission.</p>
        <p class="text-slate-600 font-bold mb-8">
          This free guide will help you go from total strangers to neighborhood staple.
          
        </p>

        <a href="/checklist" class="hidden md:block bg-primary text-white px-6 py-4 rounded-full font-bold text-md transition-all duration-300 hover:bg-primary/90">
          Download the 30-Day Community Engagement Checklist
        </a>
        
        <p class="text-center">
          <a href="/checklist" class="lg:hidden text-primary text-lg underline decoration-2">
            Download the 30-Day Community Engagement Checklist
          </a>
        </p>
      </div>
      <div class="relative">
        <div class="absolute -inset-4 bg-surface-container rounded-xl -z-10 transform rotate-2"></div>
        <img alt="Healthcare Professionals Collaborating" class="rounded-xl shadow-2xl w-full h-[450px] object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDwkBsFysuTicjIf3qhXgx0uKqAhzhhhmMf0ApKcGcwNviqnoqeiYWGsdwUzx-LFzZLKB4lJSfBYswr3vFIuN9XCE0XKOu1gVYsYyuYznhZYscFcoR6L_i-MXhmWt7X2J48nBMAQyLLHJYifsN6wVLdTCv13A9ZIP_c0JUX7iwfLFPHY3F1e0Bk7guDmHT49qP1-j6YS_AHfqo5NAmw6DDlQdbh7VhI7ECYPBJct2RaoAvMOyxdF-WxdjP7W-Ie8LF44sfSZiJVvEg">
      </div>
    </div>
  </div>
</section>