<!-- Contact Form Section -->
    <section class="py-24 bg-surface-container">
      <div class="max-w-4xl mx-auto px-4">
        <div class="bg-white p-6 sm:p-12 rounded-2xl shadow-xl">
         <div class="text-center">
          <h2 class="font-headline text-3xl font-extrabold text-on-background mb-2">What questions do you have?</h2>
          <p class="font-body text-slate-600 mb-10 italic">Boston, MA | <a href="mailto:contact@rominawilmot.com">contact@rominawilmot.com</a></p>
         </div>

          <form class="space-y-6" action="https://formspree.io/f/xdayrzwd" method="POST">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div class="space-y-2">
                <input class="w-full bg-surface-container border-none rounded-lg p-4 focus:ring-2 focus:ring-primary/20 transition-all font-body" placeholder="Full name" type="text" name="name" required/>
              </div>
              <div class="space-y-2">
                <input class="w-full bg-surface-container border-none rounded-lg p-4 focus:ring-2 focus:ring-primary/20 transition-all font-body" placeholder="Email address" type="email" name="email" required/>
              </div>
            </div>
            <div class="space-y-2">
              <textarea class="w-full bg-surface-container border-none rounded-lg p-4 focus:ring-2 focus:ring-primary/20 transition-all font-body" placeholder="How can we help you?" rows="5" name="message" required></textarea>
            </div>
            <button class="w-full bg-primary text-white py-5 rounded-xl font-headline font-bold text-lg hover:brightness-110 transition-all shadow-lg active:scale-[0.98]" type="submit">
              Send message
            </button>
          </form>
        </div>
      </div>
    </section>