---
import bostonVideo from '../assets/boston-video5.mp4';
---
<section class="relative min-h-[870px] flex items-center justify-center pt-24 overflow-hidden">
  <div class="absolute inset-0 z-0">
    <video autoplay loop muted playsinline class="w-full h-full object-cover">
      <source src={bostonVideo} type="video/mp4" />
    </video>
    <div class="absolute inset-0 bg-primary/40 mix-blend-multiply"></div>
  </div>
  <div class="relative z-10 max-w-7xl mx-auto px-8 w-full text-center">
    <h1 class="text-display-lg text-white mb-8 max-w-4xl mx-auto">Empowering Healthcare & Human Services</h1>
    <p class="text-xl text-white/90 mb-12 max-w-2xl mx-auto font-medium">RW Consulting LLC partners with healthcare and human services organizations to help them connect more meaningfully with their patients, communities, and hard to reach populations.  </p>
    <!-- <div class="flex flex-col sm:flex-row gap-4 justify-center">
      <button class="bg-secondary text-white px-8 py-4 rounded-full font-bold transition-all duration-300 hover:bg-accent-orange hover:shadow-lg hover:shadow-secondary/20 active:scale-95">
        Start Building
      </button>
      <button class="px-8 py-4 rounded-full font-bold text-lg text-white border-2 border-white/50 hover:bg-white/10 transition-all duration-300">
        Learn More
      </button>
    </div> -->
  </div>
</section>